[submodule "fuel/core"]
	path = fuel/core
    url = git://github.com/fuel/core.git
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = git://github.com/fuel/oil.git
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = git://github.com/fuel/auth.git
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = git://github.com/fuel/parser.git
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = git://github.com/fuel/email.git
[submodule "fuel/packages/twitter"]
	path = fuel/packages/twitter
	url = git://github.com/dhorrigan/fuel-twitter.git
[submodule "fuel/packages/ninjauth"]
	path = fuel/packages/ninjauth
	url = https://github.com/happyninjas/fuel-ninjauth.git
[submodule "fuel/packages/oauth"]
	path = fuel/packages/oauth
	url = https://github.com/fuel-packages/fuel-oauth.git
[submodule "fuel/packages/oauth2"]
	path = fuel/packages/oauth2
	url = https://github.com/fuel-packages/fuel-oauth2.git
[submodule "fuel/packages/viewform"]
	path = fuel/packages/viewform
	url = https://github.com/9wick/fuel-viewform.git
